@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using FurnitureStore.ViewModels
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">@Localizer["Header"]</h2>
        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">@Localizer["Email"]</label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">@Localizer["NewPassword"]</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label">@Localizer["ConfirmNewPassword"]</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="@Localizer["Submit"]" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none mt-3">@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}